$theme_color_primary: #5569ff;
$theme_color_secondary: #6e759f;
$theme_color_success: #57ca22;
$theme_color_warning: #ffa319;
$theme_color_error: #ff1943;
$theme_color_info: #33c2ff;
$theme_color_black: #223354;
$theme_color_white: #ffffff;
$theme_color_primaryAlt: #000c57;
$theme_color_dark_blue: #3c80cc;
$theme_color_light_blue: #5bbfde;
$theme_color_pink: #ffcccc;
